<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Luckiest Guy' rel='stylesheet'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>Make Habbit</title>
    <style>
      .navbar-brand{
          font-family: 'Luckiest Guy';
          font-size: 40px;
          margin:0px;
          padding:0px;
      }
      .createPart{
        background-color:darkGrey;
        height:37.5px;
        font-family:'Do Hyeon', sans-serif;
        font-size:25px;
      }
      th, td {
        text-align:center;
      }
      li a {
        font-family: 'Luckiest Guy';
      }
    </style>
  </head>
  <body style="margin:0px;">
    <div style="margin:0px;" class="navPart">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">66days_for_me</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/control/">Control</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/record/">Record</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="createPart">
      <b style="margin-left: 5px; font-size:25px; font-family: 'Do Hyeon', sans-serif;">Today : {{ date }}</b>
    </div>
     <div style="margin-top:0px;" class="tablePart">
          <table class="table table-dark">
            <thead style="font-family: 'Abel'; font-size: 27px;">
              <tr>
                <th scope="col">Habbit Given up</th>
                <th scope="col">Succeeded DaysCount</th>
                <th scope="col">Given up Date</th>
                <th scope="col">Delete Record</th>
              </tr>
            </thead>
            <tbody style=" font-family: 'Do Hyeon', sans-serif;">
            {% for habbit in habbits %}
              <tr>
                <td>{{ habbit.habbitName }}</td>
                <td>{{ habbit.daysSucceed }}</td>
                <td>{{ habbit.givenup_date }}</td>
                <form action="./deleteRecord/" method="POST">{% csrf_token %}
                    <td>
                      <input type="hidden" name="recordDel" value="{{ habbit.id }}">
                      <input type="submit" value="Delete Record">
                    </td>
                </form>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

